SA_PASSWORD=change-me
SEED_ADMIN_EMAIL=admin@reservationapp.local
SEED_ADMIN_PASSWORD=change-me
SEED_CLIENT_EMAIL=client@reservationapp.local
SEED_CLIENT_PASSWORD=change-me
SEED_RESTAURANT_OWNER_EMAIL=owner@reservationapp.local
SEED_RESTAURANT_OWNER_PASSWORD=change-me
